<h1>This is the search page! </h1>

<!--create a form to search for movies with specified keyword which will be stored in name and we'll use it to append the API search url-->
<!--this form will go to the results page and then that page will handle the rest -->
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="search term">
    <input type="submit">
</form>