<!DOCTYPE html>
<html>
    <head>
        <title>Demo app</title>
        <!--the / before the css file tells express to look for the file in the root dir -->
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        
