<!--adding header.ejs here -->
<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://i.pinimg.com/236x/1a/0f/74/1a0f748526798b991d8798ebabcf3866--pomsky-puppies-cute-puppies.jpg">

<!--adding footer.ejs here -->
<% include partials/footer %>