<% include ../partials/header %>
<!--addinng two divs. first one to center it more and shirnk it; second one to use css in it to design and further shrink it; using margin to give some space between h1 and inputs -->
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add New Comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <!--creating a form that will take in a campground id and take us to it's new comment form -->
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <!--adding some spacing between each field by creating seperate divs for each of them -->
                <div class="form-group">
                <!--making the button larger with bootstrap and having a class for the inputs to control them -->
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                <!--the block attribute makes the button take up the entire width of the container it's inside; btn-default is grayish white; primary is lue-->
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <!--go back button to the campgrounds page -->
            <a href="/campgrounds">Go Back</a>
        </div>   
    </div>
</div>
<% include ../partials/footer %>